<form [formGroup]="carForm">
  <label>
    Make:
    <input type="text" fromControlName="make">
  </label>
  <label>
    Model:
    <input type="text" fromControlName="model">
  </label>
  <label>
    Year:
    <input type="number" fromControlName="year">
  </label>
  <label>
    Color:
    <input type="text" fromControlName="color">
  </label>
  <label>
    Price:
    <input type="number" fromControlName="price">
  </label>
  <button type="button" (click)="doSubmitCar()">
    {{buttonText}}
  </button>
</form> 
